abbr[title] {
  font-weight: 400;
  text-decoration: none;
  border: 0;
  color: maroon
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

/** select all checkbox */
.select-all-chck {
  display: block;
  font-size: 13px;
  color: #666;
  font-weight: normal;
  margin-top: .375rem;
  padding-top: .25rem;
  border-top: 1px solid #ddd;
  user-select: none;
}